@font-face
{
  /**
   * Font credit: http://www.dafont.com/santas-big-secret.font
   */
  font-family: SantasBigSecret;
  src: url(santas_big_secret.ttf);
}

body
{
  font-family: Arial, Verdana;
  /**
   * Photo credit: https://wallpaperscraft.com/download/trail_snow_winter_blue_snowflake_17874/2560x1600
   */
  background: #fff url(snowflake.jpg) fixed;
  color: #009;
}

h1
{
  font-family: SantasBigSecret;
  font-size: 42pt;
  font-weight: normal;
  text-align: center;
}

div#ChristmasCard
{
  border: 2px solid #009;
  background: rgba(255,255,255, 0.4);
  margin: 2em auto;
  padding: 0 2em 2em 2em;
  width: 42em;
}

img.headshot
{
  border: 1px solid #009;
  width: 125px;
  display: block;
  margin: auto 10px;
}

.left
{
  float: left;
}

.right
{
  text-align: right;
  float: right;
}

hr.sep
{
  margin: 10px auto;
  clear: both;
  visibility: hidden;
}

p#portrait_container
{
  margin: 0 auto 3em auto;
  width: 32em;
}

p#portrait_container img
{
  border: 1px solid #009;
  width: 100%;
}


/* Caption styles */
.captionOrange, .captionBlack
{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}
.captionOrange
{
    background: #EB5100;
    background-color: rgba(235, 81, 0, 0.6);
}
.captionBlack
{
	font-size:16px;
    background: #000;
    background-color: rgba(0, 0, 0, 0.4);
}
a.captionOrange, A.captionOrange:active, A.captionOrange:visited
{
	color: #ffffff;
	text-decoration: none;
}
a.captionOrange:hover
{
    color: #eb5100;
    text-decoration: underline;
    background-color: #eeeeee;
    background-color: rgba(238, 238, 238, 0.7);
}
.bricon
{
    background: url(../img/browser-icons.png);
}



/* Arrow navigator skin */

/* jssor slider arrow navigator skin 02 css */
/*
.jssora02l              (normal)
.jssora02r              (normal)
.jssora02l:hover        (normal mouseover)
.jssora02r:hover        (normal mouseover)
.jssora02ldn            (mousedown)
.jssora02rdn            (mousedown)
*/
.jssora02l, .jssora02r, .jssora02ldn, .jssora02rdn
{
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(img/a02.png) no-repeat;
    overflow:hidden;
}
.jssora02l { background-position: -3px -33px; }
.jssora02r { background-position: -63px -33px; }
.jssora02l:hover { background-position: -123px -33px; }
.jssora02r:hover { background-position: -183px -33px; }
.jssora02ldn { background-position: -243px -33px; }
.jssora02rdn { background-position: -303px -33px; }


/* Bullet navigator skin */
/*
.jssorb01 div           (normal)
.jssorb01 div:hover     (normal mouseover)
.jssorb01 .av           (active)
.jssorb01 .av:hover     (active mouseover)
.jssorb01 .dn           (mousedown)
*/
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
    filter: alpha(opacity=70);
    opacity: .7;
    overflow: hidden;
    cursor: pointer;
    border: #000 1px solid;
}

.jssorb01 div {
    background-color: gray;
}

    .jssorb01 div:hover, .jssorb01 .av:hover {
        background-color: #d3d3d3;
    }

.jssorb01 .av {
    background-color: #fff;
}

.jssorb01 .dn, .jssorb01 .dn:hover {
    background-color: #555555;
}



/* Jssor slider */
div#slider1_container
{
  position: relative; top: 0px; left: 0px;
  width: 600px; height: 400px; overflow: hidden;
  margin: 2em auto;
}
